@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import "~/assets/scss/_variables.scss";

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}
$mobile: 420px;

body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(to right, #45a247, #283c86);
  padding-top: 90px;
}
.progress-bar {
    background: #dddddd;
    border-radius: 7px;
    overflow: hidden;
    margin-top: 10px;
    bottom: 20px;
    width: 100%;
    bottom: 15px;
    box-shadow: inset 0 0 3px rgb(173, 173, 173);
    position: relative;
    .value {
      top: 0;
      left: 0;
      font-style: normal;
      font-size: 12px;
      text-align: center;
      color: #575757;
      width: 220px;
      padding: 2px 0;
    }
    >.value {
      position: absolute;
    }
    >.progress {
      background: #14c114;
      height: 18px;
      text-align: center;
      overflow: hidden;
      position: relative;
      > i {
        color: #ffffff;
        font-style: normal;
        display: block;
        font-size: 12px;
      }
    }
    @media(max-width: $mobile) {
     .value {
       width: 120px;
     }
    }
  }
  .btn-default {
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #396d42;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    color: #ffffff;
    border: 1px solid transparent;
    transition: border .3s;
    &:hover {
      border: 1px solid #000;
      transition: border .3s;
    }
  }
  .page-enter-active, .page-leave-active {
    transition: opacity .2s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }