$color_primary: #7033ff;
$color_primary_soft: #dedfff;
$color_secondary: #648bfb;
$color_dark: #090909;
$color_light: #f7f7f7;
$color_light_hard: #767f9d;
$color_success: #2ecc71;
$color_sucess_dark: #27ae60;
$color_error: #e74c3c;

%font-family {
  font-family: 'Ubuntu', sans-serif;
}